<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Upload and View</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>User Management Application</h1>
    </header>
    <main>
        <div class="container">
            <h1>In this application, you can: (This is the testing of cloud build CI/CD) </h1>
            <div class="options">
                <a href="" class="btn upload-btn">Add User</a>
                <a href="" class="btn view-btn">View Users List</a>
            </div>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 User Management System</p>
    </footer>
</body>
</html>
